* {
  accent:           #a51b37;
  background:       #020406;
  background-light: #475369;
  foreground:       #c2c7d2;
  on:               #a51b37;
  off:              #b593e3;

  color0:	#020406;
  color1:	#a51b37;
  color2:	#b593e3;
  color3:	#5c7fd5;
  color4:	#5c9e7c;
  color5:	#e5a659;
  color6:	#b62144;
  color7:	#c2c7d2;
  color8:	#475369;
  color9:	#a51b37;
  color10:	#b593e3;
  color11:	#5c7fd5;
  color12:	#5c9e7c;
  color13:	#e5a659;
  color14:	#b62144;
  color15:	#c2c7d2;
}
