* {
  
  background-bse:   #353944;
  background-drk:   #2f343f;
  background-light: #404552;
  foreground:       #FFFFFF;
  foreground-alt:   #858c97;
  primary:          #5294e2;
  secondary:        #c9575d;

  accent:           @primary;
  background:       @background-bse;
  on:               #44ad4d;
  off:              #e34039;
}
